@ -0,0 +1,78 @@
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Reveste Doação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>


    <header class="topo">
        <div class="logo"></div>

        <div class="mtopo">
            
                <a href="{{ url_for('cadastro') }}" >
                      <button class="bttopo">Cadastro</button>
                </a>
          
            
                <a href="{{ url_for('login') }}" >
                      <button class="bttopo">Login</button>
                </a>
                <a href="{{ url_for('perfil') }}" class="icone">
                    <img src="{{ url_for('static', filename='imgs/perfil.png') }}" alt="Perfil">
                </a>

                <a href="{{ url_for('carrinho') }}" class="icone">
                    <img src="{{ url_for('static', filename='imgs/carrinho.png') }}" alt="Carrinho">
                </a>
        </div>
    </header>


    <section class="">
        <div class="banner">
          <img src="{{ url_for('static', filename='imgs/doer.png') }}" alt="">
        </div>

    </section>


    <section class="quadradao">

        <div class="quadrado">
            <div>
                <h3>Cadastre sua peça aqui</h3>
                <img src="{{ url_for('static', filename='imgs/roupas1.png') }}">
            </div>
            
                <a href="{{ url_for('cadastro_roupa') }}" >
                                <button class="btcard">Cadastrar</button>
                </a>
        </div>

        <div class="quadrado">
            <div>
                <h3>Encontre peças para você</h3>
                <img src="{{ url_for('static', filename='imgs/roupa2.png') }}">   
            </div>
            
                <a href="{{ url_for('catalogo') }}" >
                      <button class="btcard">Ir para catálogo</button>
                </a>
        </div>

    </section>

    <footer class="rodape">
        <div>@REVEST</div>
        <div>@REVEST</div>
        <div>(84) 9 9700-4261</div>
        <div>@REVEST</div>
    </footer>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>